# Stellar Network Configuration (Testnet)
VITE_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
VITE_STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"
VITE_STELLAR_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"

# CulturaGO Issuer / Authority Public Key (Public Only)
VITE_CULTURAGO_ISSUER_PUBLIC_KEY=""
